.entertainment {
  padding-top: 45px;
  
  &__container {
    padding: 0;
    max-width: 980px;
  }

  &__inner {
    padding: 0 18px;
    display: grid;
    row-gap: 30px;
    justify-content: space-between;
    grid-template-columns: repeat(4, 210px);
    grid-auto-rows: minmax(270px,  auto);

    @include tablet {
      @media (max-width: #{$tablet-max-width}) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
      }
    }

    @include mobileL {
      @media (max-width: #{$mobileL-max-width}) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
      }
    }

    @include mobileS {
      @media (max-width: #{$mobileL-max-width}) {
        grid-template-columns: minmax( 210px, 1fr);
        column-gap: 0;
      }
    }
  }

  &__load {
    padding: 40px 0 35px;
    border-bottom: 1px solid $grey-color;
text-align: center;
  }
  
  &__text {
    color: inherit;
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    margin-right: 7px;
  }
}