.offer {
  padding: 85px 145px;

  @include tablet {
    @media (max-width: #{$tablet-max-width}) {
      padding: 50px 45px;
    }
  }

  @include mobileL {
    @media (max-width: #{$tablet-max-width}) {
      padding: 15px;
    }
  }

  &__container {
    padding: 0;
    max-width: 760px;
    text-align: center;
  }

  &__title {
    font-size: 22px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
    color: $grey-color;

    @include mobileL {
      @media (max-width: #{$tablet-max-width}) {
        margin-bottom: 30px;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #9dacad;
    border-radius: 50%;
    border: 2px solid #9dacad;
    background-color: $background-color;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 55px;
      height: 2px;
      background-color: #e2dee0;
      position: absolute;
      top: 50px;
      left: 103px;

      @include tablet {
        @media (max-width: #{$tablet-max-width}) {
          content: none;
        }
      }
    }

    &:last-child:after {
      content: none;
    }

    &:hover {
      color: $green-color;
      border-color: $green-color;
    }

    @include mobileL {
      @media (max-width: #{$tablet-max-width}) {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
      }
    }

    @include mobileL {
      @media (max-width: #{$tablet-max-width}) {
        width: 60px;
        height: 60px;
        font-size: 22px;
        line-height: 60px;
      }
    }
  }

  &__bottom {

    &_title {
      padding: 30px 0;
      font-size: 24px;
      color: $green-color;
    }

    &_img {
      float: left;
      display: block;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: $green-color;
      color: $light-color;
      font-size: 28px;
      font-weight: 400;
      border-radius: 50%;
    }

    &_texts {
      display: flex;
      justify-content: space-between;

      & p {
        padding-left: 95px;
        text-align: start;
      }

      @include mobileL {
        @media (max-width: #{$tablet-max-width}) {
          flex-direction: column;
        }
      }
    }
  }

  &__text {
    max-width: 360px;
    position: relative;
    font-weight: 400;

    @include tablet {
      @media (max-width: #{$tablet-max-width}) {
        margin-bottom: 25px;
      }
    }

    @include mobileL {
      @media (max-width: #{$tablet-max-width}) {
        margin-right: 0;
        max-width: 560px;
      }
    }

    &:nth-child(2n+1) {
      margin-right: 35px;
    }
  }
}