.search {
  padding: 10px 0;
  background: $light-color;
  border-bottom: 1px solid #e2dee0;

  &__links {
    text-transform: uppercase;

    @include tablet {
      @media (max-width: #{$tablet-max-width}) {
        margin-bottom: 15px;
      }
    }
  }

  &__link {
    text-decoration: none;
    margin-right: 15px;
    color: $grey-color;

    &:hover {
      color: $red-color;
      transition: color .3s;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__selects {
    width: 250px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      @media (max-width: #{$tablet-max-width}) {
        margin-bottom: 15px;
      }
    }
  }

  &__select {
    border: 1px solid $grey-color;
    border-radius: 50px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;

    &_first {
      color: $red-color;

      &:hover {
        background-color: darken($light-color, 7);
      }

      & i {
        color: $grey-color;
      }
    }

    &_second {
      text-transform: uppercase;
      background-color: $green-color;
      border: none;
      padding: 0 15px;

      &>span {
        color: $light-color;
        display: block;
        line-height: 36px;
      }

      &:hover {
        background-color: darken($green-color, 7);
      }

      & i {
        color: $light-color;
      }
    }
  }

  &__filter &__home {
    &:hover {
      background: darken($green-color, 5);
      transition: .3s;
    }
  }

  &__filter &__music {
    &:hover {
      background: darken($orange-color, 5);
      transition: .3s;
    }
  }

  &__filter &__bus {
    &:hover {
      background: darken($purple-color, 5);
      transition: .3s;
    }
  }
}