// Responsive
$tablet-max-width: 900px;
$mobileL-max-width: 625px;
$mobileS-max-width: 320px;

// Colors
$main-color: #566375;
$section-color: #FCFCFD;
$background-color: #f3f1f2;

$light-color: #fff;
$green-color: #1baf5d;
$orange-color: #f19e1f;
$purple-color: #88499c;
$red-color: #e94e38;
$grey-color: #96a6a7;
$search-color: #e2dee0;

$main-weight: 500;
$bold-weight: 700;
$main-size: 14px;
$main-height: 1.7;

// Sizes
$photo-width: 1150px;
$photo-height: 640px;